.my-content{
    position: absolute;
    left: 0;
    top: 44px;
    bottom: 50px;
    width: 100%;
    height: 100%;
    background: #f5f5f5;
}
.category-left,
.category-right{
    /* 由于滚动条是绝对定位,要对其父级元素设置相对定位,否则会跑边上                               */
    position: relative;
    
    height: 470px;
    /* background:#fff; */
    
}
.category-left{
    /* 设置了相对定位，滚动条的位置就放在相对应位置的右边 */
    /* position: relative;
    height: 100%; */
    width: 80px;
    float: left;
    /* background:#fff; */
    
}
.category-right{
    /* position: relative; */
    /* height: 100%; */
    margin-left: 90px;
    /* background:#fff; */
}
.category-left .links {
    background-color: #fff;
}
.category-left .links a{
    display: block;
    height: 45px;
    line-height: 45px;
    text-align: center;
    font-size: 14px;
    border-right: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;

}

.category-left .links .active{
    /* 设置点击一级分类时的样式 */
    background: #f5f5f5;
    border-right: 1px solid transparent;
}
.category-right .brand-list {
    /* 去掉left中背景色  加此处 */
    background: #fff;
    margin-top: 10px;
}
.category-right .brand-list  li {
    width:33.333%;
    float: left;
}
.category-right .brand-list  li a{
    /* 因为a为行内标签 转为块级元素 */
    display: block;
}
.category-right .brand-list  li img{
    width:100%;
}
.category-right .brand-list  li p{
    text-align: center;
}

.noresult{
    padding: 10px;
    font-size:16px;
    color: navy;
}