.foods-list{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.foods-list .foods-item {
    width: 49%;
    border: 1px solid #ccc;
    box-shadow:0 0 3px #ccc;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    min-height: 150px;
    margin: 3px 0;
}
.food img{
    width:100%;
    height: 150px;
}
.title{
    text-align: center;
}
.flag span{
    font-size: 14px;
    margin-left: 7px;
}
.yes{
    color: rgb(241, 25, 25);
}
button {
    /* text-align: center; */
    display: block;
    margin: 0 auto;
}