* {
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
}
.wrapper {
    width: 100%;
    /* height: 475px; */
    margin: 0 auto;
    margin-top: 45px;
    overflow: hidden;
}

.tab {
    border: 1px solid #ddd;
    border-bottom: 0;
    height: 36px;
    /* width: 320px; */
}

.tab li{
    position: relative;
    float: left;
    width: 50%;
    height: 34px;
    line-height: 34px;
    text-align: center;
    cursor: pointer;
    /* border-top: 4px solid #fff; */
}

.tab span {
    position: absolute;
    right: 0;
    top: 10px;
    background: #ddd;
    width: 1px;
    height: 14px;
    overflow: hidden;
}

.products {
    /* width: 1002px; */
    border: 1px solid #ddd;
    /* height: 200px; */
    overflow: hidden;
}

.products .main {
    float: left;
    display: none;
}

.products .main.selected {
    display: inline-block;
}

.tab li.active {
   background-color: pink;
    /* border-bottom: hidden;
    border-bottom:5px solid red; */
}
.mui-bar-nav~.mui-content{
    padding-top: 0;
}
.mui-table-view-cell {
    display:inline-block;
    width: 100%;
}
li.mui-table-view-cell span {
    /* display: block; */
}
/* //active 用来显示下划线
//selected 用来控制显示（默认都是隐藏的） */
.products img{

}
